:root {
  --primary-blue: #454e9e;
  --primary-green: #018e42;
  --primary-yellow: #f7d002;

  --gradient-main: linear-gradient(
    50deg,
    rgb(67, 62, 109) 0%,
    rgba(69, 78, 158, 1) 60%
  );

  --neutral-white: #f4f4f4;
  --neutral-black: #474747;
}
