.wrapper {
  width: 350px;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: var(--neutral-white);
  box-shadow: 15px 15px 0px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

@media screen and (max-width: 415px) {
  .wrapper {
    /* width: 100%; */
    box-shadow: none;
  }
}
