.wrapper {
  text-align: right;
  display: grid;
  align-items: center;
  background-color: var(--neutral-black);
  color: var(--neutral-white);
  aspect-ratio: 1 / 0.2;
  margin-block-end: 1rem;
  border-radius: 0.5rem;
}

.error {
  color: rgb(215, 67, 67);
  text-decoration: underline;
}

.expression,
.error {
  max-width: 20rem;
  overflow-wrap: break-word;
  padding-inline-end: 2rem;
  padding-inline-start: 1rem;
}
