* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  /* color-scheme: dark light; */
  font-family: "Roboto", sans-serif;
}

button {
  font-family: "League Spartan", sans-serif;
  cursor: pointer;
  display: block;
  border: none;
  background-color: transparent;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  background-image: var(--gradient-main);
}
